.debug
.release
Heap-Layers
libcausal.so
libcausal.dylib
runtime/obj

tests/histogram/obj
tests/histogram/histogram
tests/histogram/histogram_datafiles

tests/kmeans/obj
tests/kmeans/kmeans

tests/linear_regression/obj
tests/linear_regression/linear_regression
tests/linear_regression/linear_regression_datafiles

tests/matrix_multiply/obj
tests/matrix_multiply/matrix_multiply
tests/matrix_multiply/matrix_file_A.txt
tests/matrix_multiply/matrix_file_B.txt
tests/matrix_multiply/matrix_file_out_pthreads.txt

tests/pbzip2/obj
tests/pbzip2/pbzip2
tests/pbzip2/data

tests/pca/obj
tests/pca/pca

tests/producer_consumer/obj
tests/producer_consumer/producer_consumer

tests/string_match/obj
tests/string_match/string_match
tests/string_match/string_match_datafiles

tests/word_count/obj
tests/word_count/word_count
tests/word_count/word_count_datafiles

tests/work_queue/obj
tests/work_queue/work_queue
